.gallery img {
    max-width: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0.3vw 0.3vw 0.4vw rgba(110, 68, 11, 0.5);
    cursor: pointer;
}
.gallery img:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}
#end {
    margin: auto 0;
}
img {
    max-width: 100%;
}
.gallery {
    padding: 50px 0;
}
#gallery-modal .modal-img {
    width: 100%;
}
#gallery-modal {
    background-color: rgba(112, 26, 26, 0.2);
}
.btn-close {
    background-color: #fde5cd;
}
.btn-close:hover {
    background-color: #FFD6A5;
}
.gallery-footer {
    z-index: -1;
    bottom: 0;
}