@font-face {
  font-family: 'vr_icons';
  src:  url('../fonts/iconsfont/vr_icons.eot?h0au8c');
  src:  url('../fonts/iconsfont/vr_icons.eot?h0au8c#iefix') format('embedded-opentype'),
    url('../fonts/iconsfont/vr_icons.ttf?h0au8c') format('truetype'),
    url('../fonts/iconsfont/vr_icons.woff?h0au8c') format('woff'),
    url('../fonts/iconsfont/vr_icons.svg?h0au8c#vr_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vr_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-dollar:before {
  content: "\e902";
}
.icon-gallery:before {
  text-align: center;
  display: block;
  padding-right: 3px;
  padding-bottom: 0.5vw;
  font-size: 1.8vw;
  content: "\e903";
}
.icon-globus:before {
  content: "\e904";
  font-family: 'Arsenal';
  font-weight: 400;
}
.icon-inst:before {
  content: "\e905";
}
.icon-mailbox:before {
  content: "\e906";
}
.icon-map_point:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-pinterest:before {
  content: "\e909";
}
.icon-signpost:before {
  text-align: center;
  display: block;
  padding-bottom: 0.5vw;
  font-size: 1.8vw;
  content: "\e90a";
}
.icon-telegram:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}


.icon-cart:before, .icon-user:before{
  display: inline-block;
  font-size: 2.2vw;
  margin: auto 0.5vw;
  padding: 0.6vw 0;
  justify-content: center;
}

.icon-mailbox, .icon-map_point, .icon-phone, .icon-inst, .icon-pinterest, .icon-telegram {
  color: #701A1A;
  font-size: 2vw;
  margin-right: 12px;
  display: inline-block;
}

.icon-cart:hover:before, .icon-user:hover:before {
  color: #701A1A;
  display: inline-block;
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;

}
.dollar .icon-dollar:before {
  display: inline-block;
  justify-content: center;
  font-size: 2.3vw;
  margin: auto;
  padding: 1vw;
}
@media (max-width: 1300px) {
  .icon-dollar:before, .icon-globus:before, .icon-calendar:before {
    font-size: 1.2vw;
  }
  .icon-signpost:before, .icon-gallery:before {
    font-size: 3vw;
  }
}

@media (max-width: 800px) {
  .icon-dollar:before, .icon-globus:before, .icon-calendar:before {
    font-size: 3.2vw;
  }
  .icon-user:before, .icon-cart:before {
    font-size: 3.5vw;
  }
}
@media (max-width: 500px) {
  .icon-dollar:before, .icon-globus:before, .icon-calendar:before {
    font-size: 3vw;

  }
  .icon-gallery:before, .icon-signpost:before {
    font-size: 4vw;
  }
}