[class^="img-"], [class^="latin"] {
    display: block;
    position: absolute;
}
[class^="latin"] {
    z-index: -1;
}
.header-image {
    display: block;
    margin: 15px auto 15px auto;
    width: 33vw;
}

.img-flower {
    width: 5.5vw;
    top: 23vw;
    right: 29vw;
}
.img-card {
    width: 19vw;
    top: 13.5vw;
    left: 0;
}
.latin1 {
    width: 56vw;
    top: 9.5vw;
    left: 1vw;
}
.img-angel {
    width: 13vw;
    top: 1vw;
    left: 21.5vw;
}
.img-round-print {
    height: 10vw;
    width: 10vw;
    top: 15vw;
    right: 8vw;
}

.latin2 {
    z-index: -1;
    width: 47vw;
    top: 2vw;
    right: 0;
}
.img-pink-flowers {
    width: 21vw;
    top: 42vw;
    left: 62vw;
}
.latin3 {
    z-index: -1;
    width: 55vw;
    bottom: 16vw;
    left: 0;
}
.img-girl {
    width: 20vw;
    top: 23vw;
    left: 3vw;
}
.img-round-logo {
    width: 10vw;
    bottom: 10vw;
    left: 23vw;
}

.latin4 {
    width: 55vw;
    top: 3vw;
    left: 40vw;
}
.img-butterfly {
    width: 9vw;
    top: 2vw;
    left: 83vw;
}
.img-gramophone {
    width: 13vw;
    top: 5vw;
    left: 1vw;
}

.latin5 {
    width: 40vw;
    top: 35vw;
    left: 50vw;
}
.img-camera {
    width: 13vw;
    rotate: 10deg;
    top: 17vw;
    left: 80vw;
}
.img-plants {
    width: 25vw;
    bottom: 0;
    left: 0;
}
.img-marks {
    width: 6vw;
    top: 8vw;
    left: 70vw;
}
.img-paris {
    width: 12vw;
    top: 1vw;
    left: 3vw;
}
.img-paris-postcard {
    opacity: 0.9;
    width: 20vw;
    top: 18vw;
    left: 8vw;
}
.img-car {
    width: 35vw;
    left: 58vw;
    bottom: 3vw;
}

#latin6 {
    z-index: -1;
    position: absolute;
    width: 30vw;
    top: 10vw;
    left: 2vw;
}
#latin7 {
    z-index: -1;
    position: absolute;
    width: 35vw;
    top: 40vw;
    left: 53vw;
}
.img-ang-flwr, .img-cage {
    z-index: 11;
    transition: 0.3s ease-in-out;
}
.img-ang-flwr {
    width: 25vw;
    top: 2%;
    left: 64%;
}
.img-cage {
    width: 11vw;
    top: 30vw;
    left: 13vw;
}
.login-body .img-angel {
    width: 11vw;
    top: 25vw;
    left: 7vw;
}
.pictures img {
    z-index: -1;
}
.pictures .latin5 {
    top: 120vw;
    left: 4vw;
}
.pictures .img-cage {
    top: 60vw;
    left: 13vw;
}
.img-white-flwrs {
    width: 30vw;
    left: 0;
}
.img-flamingo {
    width: 20vw;
    right: 6vw;
}
.img-rose {
    z-index: -1;
    width: 28vw;
    left: 45vw;
    bottom: 60vw;
}
.img-donuts {
    width: 20vw;
    left: 4vw;
    bottom: 5vw;
}
.img-notes {
    width: 17vw;
    right: 0;
}
.index-footer .img-white-flwrs, .index-footer .img-flamingo {
    bottom: 0;
}
@media (max-width: 768px) {
    .img-pink-flowers {
        top: 128vw;
        left: 70vw;
    }
    .img-paris-postcard, .img-car {
        display: none;
    }
    .img-round-logo {
        display: none;
    }
}

@media (max-width: 1300px) {
    .img-pink-flowers, .img-marks {
        display: none;
    }

}
@media (max-width: 800px) {
    .img-butterfly {
        top: 50%;
    }
}
@media (max-width: 992px) {
    .img-white-flwrs, .img-flamingo {
        bottom: -380vw;
    }
    .pictures .img-cage {
        top: 150vw
    }
    .img-rose {
        display: none;
    }
}
