* {
    box-sizing: border-box;
}
.login-body {
    position: relative;
    margin: 0;
    bottom: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    transition: 0.3s ease-in-out;
    width: 1000px;
    height: 500px;
    padding: 10px 0;
    position: relative;
}

#end {
    margin: auto 0;
}
.block {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 243, 227, 0.85);
}
.block-item {
    width: 50%;

}
.block, .form-box {
    border-radius: 3px;
    box-shadow: 0.7vw 0.7vw 0.8vw rgba(59, 5, 1, 0.35);
}
.form-box {
    background-color: rgb(255, 248, 237);
    height: 100%;
    width: 50%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    order: 100;
    transition: 0.4s ease-in-out;
    overflow: hidden;
}
.form-box.active {
    left: 50%;
}
#signup-button, #signin-button {
    margin-top: 20px;
    background-color: #701A1A;
    color: #FFF8ED;
}
#signin-button:hover, #signup-button:hover {
    background-color: #4f0b0b;
}
.login-body {
    background-color: rgb(255, 232, 204);
}
.login-body.active {

}
.login-body.active .form-container{
    height: 650px;
    transition: 0.3s ease-in-out;
}
#login-form {
    left: 0;
    transition-delay: 0.25s;
}
#signup-form {
    left: 100%;
    transition-delay: 0s;
}
.form-box.active #login-form {
    left: -100%;
    transition-delay: 0s;
}
.form-box.active #signup-form {
    left: 0;
    transition-delay: 0.25s;
}
#login-form, #signup-form {
    width: 100%;
    padding: 10px 35px;
    position: absolute;
    transition: 0.4s;
}
.login-input:focus, .login-input {
    border-bottom: #701A1A 1.5px;
    border-style: none none solid none;
    outline: none;
}
.login-input, .login-input[type = "text"] {
    margin-bottom: 5px;
    font-size: 18px;
    width: 100%;
    padding: 7px;
    background-color: rgba(255,255,255,0);

}
.login-input[type="date"] {
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
    letter-spacing: 0.04em;
    max-width: 40%;
}
.block .vensel {
    padding: 10px 0;
    margin: 0 auto;
    height: 5%;
}
.form-box .vensel {
    margin: 15px auto;
    height: 5%;
}

.forgot-password {
    cursor: pointer;
}
.forgot-password:hover {
    color: #777;
}
.login-radio {
    font-family: 'Arsenal', sans-serif;
    letter-spacing: 0.04em;
    padding: 5px 8px;
    margin-right: 5px;
    font-size: 16px;
}
input[type = "radio"] {
    width: 18px;
}

.login-label {
    margin-top: 7px;
    color: #701A1A;
    font-size: 18px;
    letter-spacing: 0.08em;
    font-family: 'Old Standard TT', serif;
}
.lg-vensel {
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    width: 80%;
}
.login-footer {
    bottom: 0;
    z-index: -1;
}
.user-form {
}
.user-data {
    padding: 3vw;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
.user-data input[type="date"] {
    width: 70%;
    margin: 1vw;
}
.user-data input, .user-data input[type="text"], .user-data label {
    margin: 1vw 0;
}

.radio-btns div {
    margin: 0 1vw;
}

@media (max-width: 992px) {
    .form-container {
        max-width: 400px;
        height: 650px;
        padding: 0;
        margin: 0 20px;
    }
    .form-box {
        width: 100%;
        height: 300px;
        box-shadow: none;
        top: 0;
    }
    .form-box.active {
        top: 200px;
        left: 0;
    }
    .login-body.active .form-container {
        height: 950px;
    }
    .form-box.active {
        height: 600px;
    }
    .block {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .login-body.active .block {
        height: 83%;
    }
    .block-item {
        width: 100%;
        padding: 20px 0;
    }
}
@media (max-width: 1400px) {
    .img-cage {
        top: 42vw;
        left: 9vw;
    }
    .login-body .img-angel {
        top: 37vw;
        left: 3vw;
    }
    .img-ang-flwr {
        width: 25vw;
        top: 5vw;
        left: 66vw;
    }
}
@media (min-width: 1200px) {
    .login-body .img-ang-flwr, .login-body.active .img-cage {
        visibility: visible;
    }
    .login-body.active .img-ang-flwr, .login-body .img-cage {
        visibility: hidden;
        transition: 0.05s ease-in-out;
    }
}
@media (max-width: 1199px) {
    .img-angel, .img-ang-flwr, .img-cage {
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    .user-form h2 {
        font-size: 4vw;
    }
    .radio-btns {
        margin: 1vw 0;
        display: flex;
        flex-direction: column;
    }
    .user-form label {
        font-size: 3.2vw;
    }
    .user-form input, .user-form input[type="date"], .user-form input[type="text"] {
        font-size: 2.5vw;
    }
    .form-box input, .form-box input[type="text"] {
        font-size: 2.9vw;
    }
    .form-box h2 {
        font-size: 4vw;
    }

}